.song-detail {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  color: #222;
}

.song-detail h2 {
  margin-top: 0;
  color: #111;
}

.song-detail p {
  color: #333;
}

.song-detail strong {
  color: #111;
}

.song-detail a {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #6a1b9a;
}

.song-detail a:hover {
  color: #4a126d;
}